<footer class="web-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque doloremque et magnam rem enim eum error recusandae sequi! Perferendis sapiente cupiditate neque animi provident ex dolorum doloremque quaerat suscipit repellat, odio, adipisci reprehenderit, consectetur soluta illum ipsum facere dolor. Iste dolore voluptatibus atque architecto asperiores iusto adipisci error ullam odit?</p>
      </div>
      <div class="col-sm-12 col-md-6 ">
        <h2>Contact us</h2><br>
        <p>
          <span class="glyphicon glyphicon-map-marker"style="font-size: 1.5em;" ></span> 
          <strong> &nbsp; Chemical Block,CSE-02, RKvalley</strong>
        </p>
        <p>
          <span class="glyphicon glyphicon-earphone"style="font-size: 1.5em;"  ></span>
          <strong> &nbsp; +91 9898978712</strong>
        </p>
      </div>

      </div>
    </div>

  </div>
</footer>