{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>kithob</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}"/>    
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-container">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="webname-style">kit<span>hob</span></div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'listings' %}">Products</a></li>
        <li><a href="">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      
          <li><a href="{% url 'dashboard' %}"><span class="glyphicon glyphicon-user"></span> <b>{{request.user}}</b></a></li>
          <li><a href="{% url 'signout' %}"><span class="glyphicon glyphicon-user"></span> <b>Logout</b></a></li>
      
        
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
      {% else %}
        <li><a href="{% url 'signin' %}"><span class="glyphicon glyphicon-login"></span> Login</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>
<div><br><br></div>
<div class="container">
  <div class="bg-container">
    <div class="row mx-auto mt-auto">
          <div class="col-lg-6 col-xl-6 align-self-center"><br>
                <br>
                <img class="cover-img-container" src="{% static 'product_images/book-cover-for-home.jpg' %}">  
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center quote-container"><br>
              <p><br><br><br>
                  Books are the ultimate Dumpees: put them down and they’ll wait for you forever; pay attention to them and they always love you back.
                  <br><br>
                  {% if user.is_authenticated %}
                  {% else %}
                  <a class="button " href="{% url 'register' %}" type="submit">Sign-up</a>
                  <a class="button " href="{% url 'signin' %}" type="submit">Login</a>
                  {% endif %}
              </p>
          </div>  
    </div>
     
  </div>
</div>
<div><br></div>
<footer class="web-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque doloremque et magnam rem enim eum error recusandae sequi! Perferendis sapiente cupiditate neque animi provident ex dolorum doloremque quaerat suscipit repellat, odio, adipisci reprehenderit, consectetur soluta illum ipsum facere dolor. Iste dolore voluptatibus atque architecto asperiores iusto adipisci error ullam odit?</p>
      </div>
      <div class="col-sm-12 col-md-6 ">
        <h2>Contact us</h2><br>
        <p>
          <span class="glyphicon glyphicon-map-marker"style="font-size: 1.5em;" ></span> 
          <strong> &nbsp; Chemical Block,CSE-02, RKvalley</strong>
        </p>
        <p>
          <span class="glyphicon glyphicon-earphone"style="font-size: 1.5em;"  ></span>
          <strong> &nbsp; +91 9898978712</strong>
        </p>
      </div>

      </div>
    </div>

  </div>
</footer> 
<div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog modal-lg" role="content">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Login
                </h4>
                <button class="close" type="button" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row mt-3">
                        <div class="form-group col-sm-4 col-12">
                            <label class="sr-only" for="emaillogin" class="form-check-label"></label>
                            <input type="email" name="emaillogin" class="form-control" placeholder="Enter Email">
                        </div>
                        <div class="form-group col-sm-4 col-12">
                            <label class="sr-only" for="passlogin"></label>
                            <input type="password" name="passlogin" class="form-control" placeholder="Password">
                        </div>
                        <div class="col-sm-auto">
                            <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="checkbox">
                            <label class="form-check-label" for="checkbox"> Remember me</label>
                            </div>
                        </div>
                    </div>
                        <div class="form-row justify-content-center">
                            <button type="button" class="btn btn-secondary btn-sm ml-1 mr-1" id="cancel">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-sm ml-1 mr-1">Sign In</button>
                        </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
